[Unit]
Description=AppScale Datastore on Port %I
AssertPathExists=/etc/appscale/load_balancer_ips
AssertPathExists=/etc/appscale/my_private_ip
AssertPathExists=/etc/appscale/zookeeper_locations
AssertPathExists=/etc/foundationdb/fdb.cluster
Wants=foundationdb.service
After=foundationdb.service network-online.target time-sync.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/podman create --name "appscale-datastore-%i" --conmon-pidfile /run/appscale-datastore-%i.pid --volume /etc/appscale --volume /etc/foundationdb --publish %i:%i docker.io/sjones4/appscale-fdb-datastore:latest appscale-datastore --type fdb --port %i
ExecStart=/usr/bin/podman start --attach "appscale-datastore-%i"
ExecStop=-/usr/bin/podman stop --timeout 25 "appscale-datastore-%i"
TimeoutStartSec=60
TimeoutStopSec=30
Restart=on-failure
RestartSec=60
PIDFile=/run/appscale-datastore-%i.pid
SyslogIdentifier=datastore-%i
# Security
PrivateTmp=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target

