---
AWSTemplateFormatVersion: 2010-09-09
Description: >-
  Environment for AppScale deployments
Parameters:
  BastionVolumeSize:
    Description: Size of attached volume for bastion host
    Type: Number
    MinValue: 10
    MaxValue: 1000
    Default: 50
Mappings:
  SubnetConfig:
    VPC:
      CIDR: 10.4.0.0/16
    Public:
      CIDR: 10.4.0.0/20
Resources:
  # Shared network resources
  VPC:
    Type: "AWS::EC2::VPC"
    Properties:
      EnableDnsSupport: true
      EnableDnsHostnames: true
      CidrBlock: !FindInMap
        - SubnetConfig
        - VPC
        - CIDR
      Tags:
        - Key: Name
          Value: AppScale VPC
  PublicSubnet:
    Type: "AWS::EC2::Subnet"
    Properties:
      VpcId: !Ref VPC
      CidrBlock: !FindInMap
        - SubnetConfig
        - Public
        - CIDR
      Tags:
        - Key: Name
          Value: AppScale Public Subnet
  InternetGateway:
    Type: "AWS::EC2::InternetGateway"
    Properties:
      Tags:
        - Key: Name
          Value: AppScale Gateway
  InternetGatewayAttach:
    Type: "AWS::EC2::VPCGatewayAttachment"
    Properties:
      VpcId: !Ref VPC
      InternetGatewayId: !Ref InternetGateway
  PublicRouteTable:
    Type: "AWS::EC2::RouteTable"
    Properties:
      VpcId: !Ref VPC
      Tags:
        - Key: Name
          Value: AppScale Public Routes
  PublicRoute:
    Type: "AWS::EC2::Route"
    DependsOn: InternetGatewayAttach
    Properties:
      RouteTableId: !Ref PublicRouteTable
      DestinationCidrBlock: 0.0.0.0/0
      GatewayId: !Ref InternetGateway
  PublicSubnetRouteTableAssociation:
    Type: "AWS::EC2::SubnetRouteTableAssociation"
    Properties:
      SubnetId: !Ref PublicSubnet
      RouteTableId: !Ref PublicRouteTable
  PublicNetworkAcl:
    Type: "AWS::EC2::NetworkAcl"
    Properties:
      VpcId: !Ref VPC
      Tags:
        - Key: Name
          Value: AppScale Public Network ACL
  InboundSSHPublicNetworkAclEntry:
    Type: "AWS::EC2::NetworkAclEntry"
    Properties:
      NetworkAclId: !Ref PublicNetworkAcl
      RuleNumber: "110"
      Protocol: "6"
      RuleAction: allow
      Egress: "false"
      CidrBlock: 0.0.0.0/0
      PortRange:
        From: "22"
        To: "22"
  InboundNatNetworkAclEntry:
    Type: "AWS::EC2::NetworkAclEntry"
    Properties:
      NetworkAclId: !Ref PublicNetworkAcl
      RuleNumber: "150"
      Protocol: "6"
      RuleAction: allow
      Egress: "false"
      CidrBlock: !Ref VPC.CidrBlock
      PortRange:
        From: "0"
        To: "65535"
  InboundEphemeralPublicNetworkAclEntry:
    Type: "AWS::EC2::NetworkAclEntry"
    Properties:
      NetworkAclId: !Ref PublicNetworkAcl
      RuleNumber: "200"
      Protocol: "6"
      RuleAction: allow
      Egress: "false"
      CidrBlock: 0.0.0.0/0
      PortRange:
        From: "1024"
        To: "65535"
  OutboundPublicNetworkAclEntry:
    Type: "AWS::EC2::NetworkAclEntry"
    Properties:
      NetworkAclId: !Ref PublicNetworkAcl
      RuleNumber: "100"
      Protocol: "6"
      RuleAction: allow
      Egress: "true"
      CidrBlock: 0.0.0.0/0
      PortRange:
        From: "0"
        To: "65535"
  PublicSubnetNetworkAclAssociation:
    Type: "AWS::EC2::SubnetNetworkAclAssociation"
    Properties:
      SubnetId: !Ref PublicSubnet
      NetworkAclId: !Ref PublicNetworkAcl
  NatGateway:
    Type: "AWS::EC2::NatGateway"
    Properties:
      AllocationId: !GetAtt NatGatewayEip.AllocationId
      SubnetId: !Ref PublicSubnet
      Tags:
        - Key: Name
          Value: AppScale NAT Gateway
  NatGatewayEip:
    Type: "AWS::EC2::EIP"
    Properties:
      Domain: vpc
  # Bastion host resources
  BastionEip:
    Type: "AWS::EC2::EIP"
    Properties:
      Domain: vpc
  BastionVolume:
    Type: "AWS::EC2::Volume"
    Properties:
      AvailabilityZone: !GetAtt PublicSubnet.AvailabilityZone
      Size: !Ref BastionVolumeSize
      Tags:
        - Key: Name
          Value: AppScale Bastion
Outputs:
  VPC:
    Description: VPCId for the AppScale VPC
    Value: !Ref VPC
    Export:
      Name: "AppScaleVpcId"
  VPCCidr:
    Description: VPC CIDR for the AppScale VPC
    Value: !GetAtt VPC.CidrBlock
    Export:
      Name: "AppScaleVpcCidr"
  PublicSubnet:
    Description: SubnetId for the AppScale public subnet
    Value: !Ref PublicSubnet
    Export:
      Name: "AppScalePublicSubnetId"
  PublicRouteTable:
    Description: RouteTableId for the AppScale public routes
    Value: !Ref PublicRouteTable
    Export:
      Name: "AppScalePublicRouteTableId"
  Gateway:
    Description: GatewayId for the AppScale internet gateway
    Value: !Ref InternetGateway
    Export:
      Name: "AppScaleGatewayId"
  NatGateway:
    Description: NatGatewayId for the AppScale NAT gateway
    Value: !Ref NatGateway
    Export:
      Name: "AppScaleNatGatewayId"
  BastionEip:
    Description: The Elastic IP allocation for use with the Bastion host
    Value: !GetAtt BastionEip.AllocationId
    Export:
      Name: "AppScaleBastionEipAllocationId"
  BastionVolume:
    Description: The VolumeId for use with the Bastion host
    Value: !Ref BastionVolume
    Export:
      Name: "AppScaleBastionVolumeId"

